body {
  font-family: "Lato";
  font-size: clamp(1rem, 1vw, 1.5rem);
  line-height: 1.54;
  font-weight: 500;
  margin: 100px 0;
  color: black;
}

h2 {
  font-size: clamp(3.5rem, 4vw, 5.25rem);
  font-weight: 800;
  margin-bottom: 12px;
  color: white;
}

p {
  margin: 1em 0;
}

img {
  width: 100%;
}

.row {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 100px 0;
}

.row + .row {
  margin-top: 50px;
}

.rowBackground {
  background-color: #ffad31;
}

.skew {
  transform: skewY(-11.5deg);
}
.skew .media {
  transform: skewY(-11.5deg);
}
.skew .mediaImg,
.skew .mediaContent {
  transform: skewY(11.5deg);
}

.column {
  padding: 0 15px;
  max-width: 1000px;
}

.skew .column {
  transform: skewY(11.5deg);
}

.media {
  display: grid;
  grid-column-gap: 80px;
  grid-template-columns: 1fr;
  align-items: center;
}

.mediaImg {
  align-self: center;
}

@media (min-width: 48rem) {
  .media {
    grid-template-columns: 1.5fr 3fr;
  }
}
